Customer-Support/Shopify-Customer-Support/WISMO-Agent/workflow/wismo-agent.n8n.json
{
  "name": "WISMO Agent",
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool IMMEDIATELY when the user provides an Order ID (e.g., #1234, 1022) or an Email Address.\\nThis tool searches the Shopify database and returns order status, fulfillment details, and tracking info.\\nDo not reply to the user without calling this tool first if an ID or Email is present.",
        "authentication": "accessToken",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "f11f1ebd-846a-4068-b07d-24b6661bede1",
      "name": "Get Many Orders",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## WISMO AGENT \\n- It receives Customer Email, \\n- find Order ID, on Shopify Store at real time, \\n- and reply back to the customer, in just few seconds",
        "height": 624,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -256
      ],
      "typeVersion": 1,
      "id": "a9a0ed9a-052c-49ee-9997-99f9e8796391",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "310b3af0-c5b6-4bbd-a571-c3f8329680ff",
      "name": "Receive Email",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        -176
      ],
      "id": "5c896c9e-3a1a-4cd8-9c77-c15710080bcd",
      "name": "primary LLM",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        -176
      ],
      "id": "c97a8c67-8106-4f23-ac65-cdeb46a98695",
      "name": "backup LLM",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Email Details:\\nName: {{ $json.from.value[0].name }}\\nEmail: {{ $json.from.value[0].address }} Subject: {{ $json.subject }}\\nBody: {{ $json.textAsHtml }}\\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an intelligent Customer Support Agent for a Shopify store. Your primary goal is to assist customers by retrieving their order status and details accurately and efficiently.\\n\\n### operational_logic\\n1.  **Analyze the Incoming Request:**\\n    * Scan the user's message to identify an **Order ID** (usually formatted as `#1001`, `1001`, or similar) or the **Customer's Email Address**.\\n\\n2.  **Order Retrieval Strategy:**\\n    * **IF an Order ID is found:** Use the `Shopify` tool to search for the order specifically by that ID.\\n    * **IF NO Order ID is found, BUT an Email is present:** Use the `Shopify` tool to search for the most recent open orders associated with that email address.\\n    * **IF NEITHER is found:** Do not attempt to use the Shopify tool. Proceed directly to the \\\"Missing Information\\\" response strategy.\\n\\n3.  **Response Handling:**\\n\\n    * **Scenario A: Order Details Found**\\n        * Draft a polite, professional email reply.\\n        * Include key details: Order Status (e.g., Fulfilled, Unfulfilled), Fulfillment Status, Tracking Number (if available), and estimated delivery (if available).\\n        * *Tone:* Helpful, reassuring, and professional.\\n\\n    * **Scenario B: Order ID/Email Found, but No Matching Order Exists in Shopify**\\n        * Draft a polite email stating that you could not find an order with the provided details.\\n        * Ask the customer to double-check the Order ID or the email address used during checkout.\\n\\n    * **Scenario C: Missing Information (No ID or Email provided)**\\n        * Draft a polite email asking the customer to provide their **Order ID** or the **Email Address** associated with the purchase so you can locate their details.\\n\\n### important_constraints\\n* **Do not** hallucinate order details. Only report data returned by the Shopify tool.\\n* **Do not** execute the Shopify tool if you have no search parameters (ID or Email).\\n* Always sign off the email with \\\"Best regards, [Store Name] Support Team\\\".\\n* Keep the email concise and easy to read."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "ab2afe90-e976-46e7-88ab-01a72f3137b5",
      "name": "CSA Agent"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Receive Email').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "31cc683e-9c2a-487d-b215-5cbd84753aa6",
      "name": "Reply back",
      "webhookId": "d6fa6cad-4c85-4cd0-824e-8f060fb55756",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Get Many Orders": {
      "ai_tool": [
        [
          {
            "node": "CSA Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receive Email": {
      "main": [
        [
          {
            "node": "CSA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primary LLM": {
      "ai_languageModel": [
        [
          {
            "node": "CSA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "backup LLM": {
      "ai_languageModel": [
        [
          {
            "node": "CSA Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "CSA Agent": {
      "main": [
        [
          {
            "node": "Reply back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8425b79e-fdad-492e-a75f-d03b5584deea",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "BMuSGlKzpWtOVPuD",
  "tags": []
}